/* Regole di formattazione */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: open sans;
}

/* regole header */
header {
  background-color: white;
}

/* Regole contenitori */
.container {
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* regole logo */
#logo {
  width: 80px;
}

/* regole nav-bar */
.nav-bar {
  display: flex;
  gap: 20px;

}

.nav-bar li a {
  text-decoration: none;
  color: black;
}


.nav-bar li {
  list-style: none;
}